{
    "archive": {
     
    }, 
    "build": {
           "build1": {
            "url": "http://ker.iutsd.univ-lorraine.fr/hough3d-src.tar.gz",
            "construct": "cd hough3d-src; make",
            "move": "hough3d-src/hough3dlines"
             }
    }, 
    
    
    
    "general": {
        "demo_title": "Iterative Hough Transform for Line Detection in 3D Point Clouds",
        "xlink_article" : "",
        "input_description": "Statokinesigrams(txt file)"
    }, 
    "inputs": [
        {
      "description": "file containing set of points to be used as dataset (the tags need to be the same)",
      "max_weight": 524288000,
      "ext": ".dat",
      "required": true,
      "type": "data"
    }
    
    ], 
    "results": [
        {
            "contents": {
                "results": "resultLines.png"
            }, 
            "label": "Original and noisy", 
            "type": "gallery"
        },
        {
      "contents":"resultLines.eps",
      "label":"'postscript'",
      "type":"file_download"
    },
        {
      "contents":"stdout.txt",
      "label":"<b>Results</b><br/>",
      "style":"''",
      "type":"text_file"
    },
   
    {
      "contents":"stderr.txt",
      "label":"<b>std erreor:</b><br/>",
      "style":"''",
      "type":"text_file"
    },
    {
      "contents":"plotDataLines.plt",
      "label":"<b>plotDataLines.plt</b><br/>",
      "style":"''",
      "type":"text_file"
    },
    {
      "contents":"input_0.dat",
      "label":"<b>input_0.dat</b><br/>",
      "style":"''",
      "type":"text_file"
    }
    ],
    
    
    "params": [
    {
      "label": "Maximum number of lines",
      "id": "maxlines",
      "type": "numeric",
      "values": {
        "default": 20,
        "min": 1,
        "max": 500,
        "step": 1
      }
      },
      {
      "label": "Min votes",
      "id": "minvotes",
      "type": "numeric",
      "values": {
        "default": 20,
        "min": 1,
        "max": 500,
        "step": 1
       }
      },
      {
      "label": "step width in x'y'-plane",
      "id": "dx",
      "type": "numeric",
      "values": {
        "default": 0.03125,
        "min": 0.01,
        "max": 2,
        "step": 0.01
      }
      }
  ],
    
   "run":"${demoextras}/DemoExtras/run.sh  ${demoextras} input_0.dat plotDataLines.plt resultLines.png ${maxlines} ${minvotes} ${dx}"
}